/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* BODY BACKGROUND */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:url("../assests/images/hero.jpg") no-repeat center center/cover;
}

/* FORM CONTAINER */
form {
  background: white;
  padding: 35px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  text-align: center;
}

/* HEADING */
h2 {
  position: absolute;
  top: 200px;
  margin-left:60px;
  color: rgb(1, 1, 1);
  font-size: 28px;
}

/* INPUT FIELDS */
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
  font-size: 14px;
}

input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 5px rgba(59,130,246,0.5);
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2563eb;
  transform: scale(1.03);
}

/* SMALL SCREENS */
@media (max-width: 400px) {
  form {
    width: 90%;
  }
}